html,
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  transition: 0.2s;
  font-size: 100%;
}
#parallax {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 1px;
  perspective-origin: 50% 37.5%;
  overflow-x: hidden;
  overflow-y: scroll;
}
#writepad {
  width: 100%;
  height: 75vh;
  transform: translateZ(-1px) scale(2);
}
#comparepad {
  width: 100%;
  height: 100%;
}
#gd-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  color: transparent;
  background: transparent;
  border: none;
  font-size: 45vh;
  text-align: center;
  font-family: "Tsukushi A Round Gothic";
}
#gd-input:focus {
  outline: none;
}
#gd-input::selection {
  background: rgba(179, 212, 252, 0.7);
}
#gd-input::-moz-selection {
  background: rgba(179, 212, 252, 0.7);
}
#sample1 {
  font-size: 45vh;
  text-anchor: middle;
  stroke-width: 2px;
  fill: none;
}
#sample2 {
  font-size: 45vh;
  text-anchor: middle;
}
#baseline {
  vector-effect: non-scaling-stroke;
  stroke-width: 1px;
  transition: 0.2s;
}
@media (-webkit-min-device-pixel-ratio: 2),
  (min--moz-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  #baseline {
    stroke-width: 0.5px;
  }
}
.main {
  position: absolute;
  top: 75vh;
  width: 100%;
  min-height: 25vh;
}
#gd-color2 {
  margin-top: 13px;
  padding: 0;
}
#gd-swap {
  margin-top: -4px;
}
.container {
  max-width: 1000px;
  margin: auto;
}
.info {
  margin-bottom: 0;
}
.info a {
  text-decoration: none;
  color: #5e5545;
}
.info h1 {
  font-family: "Teko", sans-serif;
  text-align: center;
  letter-spacing: 0.15em;
}
.info p {
  margin: auto;
  text-align: center;
}
.info .addr {
  margin-top: 2em;
}
.flt {
  position: fixed;
  bottom: 4vmin;
  right: 4vmin;
}

/* tooltips */

.tooltip {
  line-height: 24px;
}
.mdl-slider__container {
  height: 24px;
}
#size2-tooltip::before {
  content: "Size: ";
}
#spacing2-tooltip::before {
  content: "Tracking: ";
}
#translateX-tooltip::before {
  content: "x-offset: ";
}
#translateY-tooltip::before {
  content: "y-offset: ";
}

/* helpers */

.strokeCC {
  stroke: currentColor;
}
.fillCC {
  fill: currentColor;
}
.toppad {
  padding-top: 20px;
}
