body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
#writepad, #input {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75vh;
}
#writepad {
  z-index: -1;
  transition: .2s;
}
.currColor {
  fill: currentColor;
}
#input {
  color: transparent;
  background: transparent;
  border: none;
  font-size: 45vh;
  text-align: center;
  z-index: 0;
}
#input:focus {
  outline: none;
}
#input::selection {
  background: rgba(179, 212, 252, 0.7);
}
#input::-moz-selection {
  background: rgba(179, 212, 252, 0.7);
}
.main {
  position: absolute;
  left: 0;
  right: 0;
  top: 75vh;
  padding-bottom: 8vh;
  z-index: 1;
}
#svg {
  height: 100%;
  overflow: visible;
}
#sample1 {
  stroke-width: 2px;
}
#baseline {
  stroke-width: 1px;
  transition: .2s;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  #baseline {
    stroke-width: 0.5px;
  }
}
input.candidate:focus {
  border: 0;
}
.container {
  max-width: 960px;
  margin: auto;
}
.flt {
  position: fixed;
  z-index: 2;
  bottom: 5vmin;
  right: 5vmin;
}
.info {
  margin-bottom: 0;
}
.info a {
  text-decoration: none;
  color: #5E5545;
}
.info h1 {
  font-family: 'Teko', sans-serif;
  text-align: center;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
}
.info p {
  margin: auto;
  text-align: center;
}
.info .addr {
  margin-top: 2em;
}
.v-center {
  padding-top: 25px;
}
