html, body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  transition: .2s;
}
#writepad {
  width: 100%;
  height: 75vh;
}
#comparepad {
  width: 100%;
  height: 100%;
}
#gd-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  color: transparent;
  background: transparent;
  border: none;
  font-size: 45vh;
  text-align: center;
  font-family: 'Tsukushi A Round Gothic';
}
#gd-input:focus {
  outline: none;
}
#gd-input::selection {
  background: rgba(179, 212, 252, 0.7);
}
#gd-input::-moz-selection {
  background: rgba(179, 212, 252, 0.7);
}
#sample1 {
  font-size: 45vh;
  text-anchor: middle;
  stroke-width: 2px;
  fill: none;
}
#sample2 {
  font-size: 45vh;
  text-anchor: middle;
}
#baseline {
  vector-effect: non-scaling-stroke;
  stroke-width: 1px;
  transition: .2s;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  #baseline {
    stroke-width: 0.5px;
  }
}
.main {
  padding-bottom: 8vh;
}
.container {
  max-width: 960px;
  margin: auto;
}
.info {
  margin-bottom: 0;
}
.info a {
  text-decoration: none;
  color: #5E5545;
}
.info h1 {
  font-family: 'Teko', sans-serif;
  text-align: center;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
}
.info p {
  margin: auto;
  text-align: center;
}
.info .addr {
  margin-top: 2em;
}
.flt {
  position: fixed;
  bottom: 4vmin;
  right: 4vmin;
}

/* helpers */

.strokeCC {
  stroke: currentColor;
}
.fillCC {
  fill: currentColor;
  opacity: 0.4;
}
.v-center {
  padding-top: 20px;
  padding-bottom: 20px;
}
